.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg{
    width: 480px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
    flex-wrap: wrap;
}
.menus button {
    border: none;
    background: none;
    margin: 5px;

}
.menus button:hover{
    background-color: beige;
}

.news-img-size {
    max-width: 100%;
   height: 250px;
}

.news-content{
    padding: 1em;
    border-bottom: 2px solid black;
}

.search-area{
    margin: 1em;
 
}
.fa-magnifying-glass{
   margin-top: 20px;
   cursor: pointer;
}

#user-input{
    margin-left: 7px;
    padding-left: 10px;
    border-radius: 10px;
    width: 200px;
    border:1px solid lightgray;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

}

#keyword-btn{
    margin-left: 5px;
    border: none;
    background-color: #ebebeb;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

}

#user-input.active,
#keyword-btn.active {
    opacity: 1;
    visibility: visible;
   
}

.fa-bars{
    display: none;
    margin-right: 10px;
}



.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 


.alert{
    text-align: center;
}



.pagination{
   
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.page-item {
    
    cursor: pointer;
}
.page-link:hover {
    border-color: rgb(241, 229, 189);
    color: #524343;
    background-color: rgb(247, 243, 228);
}

.page-link {
    color: #111;
    transition: all 0.3s ease;
  }
.page-link.active {
    border-color: rgb(241, 229, 189);
    color: #524343;
    background-color: rgb(241, 229, 189);
    transition: all 0.3s ease;
  }
@media screen and (max-width : 63rem) {
    
.fa-bars{
    display: inline-block;
}
.menus button {
    display: none
}

.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}

  .page-link {
    padding: 4px 8px;
    font-size: 16px;
  }

}

